<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="lanCont" th:fragment="header">
    <div class="lanEl"><a href="/templates/authorization.html">Authorization</a></div>
    <div class="lanEl"><a href="/templates/registration.html">registration</a></div>
    <div class="lanEl"><a href="/templates/clients.html">clients</a></div>
    <div class="lanEl"><a href="/templates/accounts.html">accounts</a></div>
    <div class="lanEl"><a href="/templates/error1.html">error1</a></div>
    <div class="lanEl"><a href="/templates/logout.html">logout</a></div>
    <div style="clear: both"></div>

</nav>