<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client update</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>

</head>
<body>
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="section-title">
            <h2>Update client</h2>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row newClientForm">
        <form th:action="@{clientUpdateForm}" method="post" th:object="${client}">
            <input name="id" type="hidden" th:value="*{getId()}">
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputSurname" class="sr-only mx-3">Surname: </label>
                <input name="surname" type="text" id="inputSurname" th:value="*{getSurname()}">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputName" class="sr-only mx-3">Name: </label>
                <input name="name" type="text" id="inputName" th:value="*{getName()}">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputPatronymic" class="sr-only mx-3">Patronymic: </label>
                <input name="patronymic" type="text" id="inputPatronymic" th:value="*{getPatronymic()}">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputBirthDate" class="sr-only mx-3">Birth date: </label>
                <input name="birthDate" type="date" id="inputBirthDate" th:value="*{getBirthDate()}">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputEmail" class="sr-only mx-3">Email: </label>
                <input name="email" type="text" id="inputEmail" th:value="*{getEmail()}">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputGender" class="sr-only mx-3">Gender: </label>
               <!-- <select name="gender" id="inputGender" class="form-control">
                    &lt;!&ndash;/*@thymesVar id="gender" type="com.example.clientsservice.models.Client.Gender"*/&ndash;&gt;
                    <option th:each="gender:${T(com.example.clientsservice.models.Client.Gender).values()}"
                            th:value="${gender}"
                            th:text="${gender}"
                            th:selected="${gender==client.getGender()}"
                    ></option>
                </select>-->
                <select name="gender" id="inputGender" class="form-control">
                    <th:block th:each="gender:${T(com.example.clientsservice.models.Client.Gender).values()}">
                        <option th:value="${gender}" th:text="${gender}" th:selected="${gender==client.getGender()}" ></option>
                    </th:block>
                    <!--/*@thymesVar id="gender" type="com.example.clientsservice.models.Client.Gender"*/-->
                    <option value=""></option>
                </select>
            </div>

            <!--  <option th:each="value : ${#enums.values('com.example.MyEnum')}"
          th:value="${value}" th:text="${value}"
          th:selected="${value == 'VALUE_ONE'} ? 'selected' : ''">
  </option>-->
            <div class="form-group form-control-lg container">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>