<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css"/>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Мой сайт</a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        О нас
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Команда</a>
                        <a class="dropdown-item" href="#">История</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Наши партнеры</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Контакты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="#">Наш адрес</a>
                        <a class="dropdown-item" href="#">Телефоны</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Обратная связь</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 text-center">
        <div class="section-title">
            <h2>Add new client</h2>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row newClientForm">
        <form action="newClientForm" method="post">
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputSurname" class="sr-only mx-3">Surname: </label>
                <input name="surname" type="text" id="inputSurname">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputName" class="sr-only mx-3">Name: </label>
                <input name="name" type="text" id="inputName">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputPatronymic" class="sr-only mx-3">Patronymic: </label>
                <input name="patronymic" type="text" id="inputPatronymic">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputBirthDate" class="sr-only mx-3">Birth date: </label>
                <input name="birthDate" type="date" id="inputBirthDate">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputEmail" class="sr-only mx-3">Email: </label>
                <input name="email" type="text" id="inputEmail">
            </div>
            <div class="form-group form-control-lg d-flex justify-content-between align-items-center">
                <label for="inputGender" class="sr-only mx-3">Gender: </label>
                <select name="gender" id="inputGender" class="form-control">
                    <option selected>NONE</option>
                    <option>MALE</option>
                    <option>FEMALE</option>
                </select>
            </div>
            <div class="form-group form-control-lg container">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h2>Clients</h2>
            </div>
        </div>
    </div>
    <div class="clientsTable">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Patronymic</th>
                <th scope="col">Birth date</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>

            <!--/*@thymesVar id="clients" type="List<Client>"*/-->
            <tr th:each="client:${clients}">
                <td th:utext="${client.id}"></td>
                <td th:utext="${client.surname}"></td>
                <td th:utext="${client.name}"></td>
                <td th:utext="${client.patronymic}"></td>
                <td th:utext="${client.birthDate}"></td>
                <td th:utext="${client.gender}"></td>
                <td th:utext="${client.email}"></td>
                <td>
                    <form th:action="@{clientUpdate}" method="post">
                        <input type="hidden" name="id" th:value="${client.id}">
                        <input type="submit" value="...">
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>